@import "tailwindcss";

:root {
  --foreground-rgb: 238, 238, 238;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 17, 17, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}